/* Colores y variables */
:root {
    --sena-verde: #0a7036;
    --blanco-translucido: rgba(255, 255, 255, 0.85);
  }
  

  body {
    margin: 0;
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom right, #e9f5ef, #d2eae0);
    background-image: url("./imagenes/images.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    background-attachment: fixed;
    color: #333;
  }
  
  /* Títulos */
  h1, h2 {
    color: var(--sena-verde);
  }
  
  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  
  /* Listas */
  ul, ol {
    background-color: var(--blanco-translucido);
    padding: 1rem 2rem;
    border-left: 5px solid var(--sena-verde);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  /* Párrafos */
  p {
    background-color: var(--blanco-translucido);
    padding: 1rem;
    border-radius: 6px;
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  